{# templates/general/accueil.twig #}
<html>
<body> Page d'accueil de l'environnement {{environnement}}
<form name="identification" action="http://symfony.localhost/Identification" method="POST">
  <h1>Identification</h1>
  <h4>Identifiant</h4>
  <input type="texte" name="identifiant"/><br/>
  <h4>Mot de passe</h4>
  <input type="texte" name="MotDePasse"/><br/>
  <input type="submit" value="Par ici les data"/>
</form>
</body></html>
