{% extends "base.html.twig" %}
{# templates/general/accueil2.php.twig #}
  {% block head %}
    <title>compteur</title>
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
  {% endblock %}
  {% block body %}
    <div id="bandeauentete">bandeauentete</div>
    <div id="bandeauheader">bandeauheader</div>
    <div id="corps">
      <div id="navgauche">navgauche</div>
      <div id="construction">construction
        {% block construction %}{% endblock %}
      </div>
      <div id="navdroite">navdroite</div>
    </div>
    <div id="bandeaufooter">bandeaufooter</div>
    <div id="bandeaubas">bandeaubas</div>
  {% endblock %}
